* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  background: linear-gradient(to top, #f3d9b4, #f3d8da);
  color: #1a1818;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list {
  padding: 50px;
}

.item {
  padding: 20px;
  border-bottom: 1px solid #642102;
}

.btn {
  background: linear-gradient(to top, #aa3a06, #642102);
  padding: 10px 30px;
  border: 0;
  border-radius: 10px;
  color: #fff;
}

.input {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  margin-left: 10px;
}

.btn:hover {
  background: linear-gradient(to top, #aa3a06, #64210290);
}

.square1 {
  width: 100px;
  height: 100px;
  background-color: rgb(27, 141, 27);
  position: relative;
  margin-bottom: 10px;
}

.square2 {
  width: 100px;
  height: 100px;
  background-color: rgb(212, 21, 21);
  position: relative;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
}

.item-style {
  list-style-type: decimal;
}

.textarea9 {
  width: 200px;
  height: 100px;
}

.item-container {
  display: inline-flex;
  flex-direction: column;
}

.textarea9 {
  margin-bottom: 10px;
}

.insertedContentEmail,
.insertedContentConfirmPassword,
.insertedContentAge,
.insertedContentPassword,
.insertedContent {
  font-size: 10px;
  font-weight: 300;
  color: red;
}

.form10 {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.inputForm10 {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 10px;
}

.label10 {
  margin-top: 16px;
}

.submit10 {
  margin-top: 26px;
}

.container-eleven {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.calculator-eleven {
  border: 1px solid #642102;
  padding: 30px;
  border-radius: 10px;
}

.btns-eleven {
  background: linear-gradient(to top, #aa3a06, #af4513);
  padding: 10px 15px;
  border: 0;
  border-radius: 15px;
  color: #fff;
  width: 50px;
  height: 50px;
}

.btns-eleven:hover {
  background: linear-gradient(to top, #aa3a06, #af451390);
}

.btns-eleven__margin {
  margin-right: 15px;
}

.btns-eleven__container {
margin-top: 15px;
}

.input-eleven {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 10px;
}

/* 12. */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d8b6bd50;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  
transform: translate(-50%, -50%) scale(0.5);
opacity: 0;
}

.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
animation: windowModal 2000ms ease-out;
}

.modal {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 600px;
  padding: 40px;
  background: #4b2c29;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  overflow-y: auto;
  transition: transform 250ms ease-in-out 250ms, opacity 250ms ease-in 250ms;
}

.list-twelve {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  list-style: none;
}

.item-twelve {
width: 300px;
height: 400px;
border-radius: 10px;
background: #fff;
}

.wrapper-twelve {
  padding: 40px;
}

.img-twelve {
  width: 100%;
  height: 60%;
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.btn-twelve {
  background: transparent;
  color:rgba(65, 5, 5, 0.993);
  border: 0;
  outline: 0;
}

.btn-close {
  background: transparent;
  color:rgba(228, 207, 207, 0.993);
  border: 0;
  outline: 0;
  position: absolute;
  top: 25px;
  right: 25px;
}

.btn-delete {
  background: transparent;
  color:rgba(228, 207, 207, 0.993);
  border: 0;
  outline: 0;
  position: absolute;
  top: 25px;
  right: 80px;
}

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.btn-twelve:hover {
  color:rgba(65, 5, 5, 0.793);
}

.item-modal {
  width: 300px;
height: auto;
margin-bottom: 30px;
}

.text-modal,
.title-modal {
color: rgba(228, 207, 207, 0.993);
}

.listModal {
  list-style: none;
}

@keyframes windowModal {
  0% {
    transform: scale(1);
    transform-origin: bottom left;
  }
  50% {
    transform: scale(0);
    transform-origin: bottom left;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom left;
  }
}